body{
    margin: 0%;
    background-image: url(../otrasimg/pexels-maria-geller-801267-2127022.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
    width: 400px;
    height: auto;
    gap: 10px;
    padding: 20px;
    margin-top: 5%;
    border-radius: 13px;
    margin-bottom: 50px;
}
input{
    display: flex;
    text-align: center;
    align-items: center;
    height: 40px;
    border: 2px solid black;
    border-radius: 13px;
    width: 98%;

}
.campo{
    box-shadow: 0 0 6px white,
    3px 3px 6px black;
}
fieldset{
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
fieldset article{
    display: flex;
    align-items: center;
}
label{
    text-align: center;
    align-items: center;
}
button{
    width: 50%;
    color: white;
    box-shadow: 0 0 6px white,
    3px 3px 6px black;
    background-color: black;
    padding: 10px 10px;
    margin: 0 25%;
    border-radius: 13px;
}
button:hover{
    transition: ease 0.4s;
    transform: scale(1.1);
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
